<h1>Listing stocks</h1>
<table>
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Ticker</th>
      <th>Current Price</th>
      
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <% if stock.user_id == current_user.id %>
        <% @Stocks.render_stock(stock) %>

        <tr>
          <td><%= @stock.company_name%></td>
          <td><%= @stock.symbol %></td>
          <td>$<%= @stock.latest_price %></td>
          <td><%= link_to 'Show', stock %></td>
          <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
          <td><%= link_to 'Destroy', stock, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Stock', new_stock_path %>
